*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}



.banner{
    position: sticky;
}
.banner h1{
    font-size: 40px;
    margin-top: 5px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    height: 55px;
    width: 100%;
    /* background-color: goldenrod; */
    background-color: #e3e6f3;
    /* border-radius: 3px; */
    /* margin: 10px 0px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header .logo {
    font-size: 20px;
    font-weight: bold;
    columns: white;
}

.cart{
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.fa-solid {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.fa-solid{
    /* color: goldenrod; */
    background-color: #e3e6f3;
}

.cart p {
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        /* border-color: goldenrod; */
        color: #000;

}

#navbar ul{
    display: flex;
}

#navbar ul li{
    /* font-size: 16px; */
    padding: 0 20px;
    font-weight: 500;
}
#navbar a{
      
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

#navbar li{
    list-style: none;
}

.container{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

#root{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap:20px;
}

.sidebar{
    position: sticky;
    width: 30%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;

}
.head{
    /* background-color: goldenrod; */
    background-color: #e3e6f3;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    /* color: white; */
    color: #000;
    display: flex;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    border-top: 1px solid #333;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid  #e3e6f3;
    border-radius: 5px;
    padding: 15px;

}

.img-box{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;

}

h2{
    font-size: 20px;
    color: black;

}
button{      
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #088178;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #333;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;

}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
 
.fa-trash:hover{
    cursor: pointer;
    color: #333;

}